.title-blue {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--corp_blue);
  font-weight: 800;
}

.title-red {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--corp_red);
  font-weight: 800;
}

.background-gray {
  background-color: var(--background_gray);
  text-align: left;
}

.detail-valla-media-section {
  align-items: center;
  text-align: center;
  padding: 0;
}
.detail-valla-img {
  border: 4px solid var(--whitefont);
}

.detail-valla-blueline {
  background-color: var(--corp_blue);
  color: var(--whitefont);
  min-height: 3rem;
}
